<%= bootstrap_form_with(model: [@admin, company_branch], local: true) do |form| %>
    <div class="field">
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.text_field :address %>
    </div>
    <div class="actions d-flex justify-content-center mt-4">
        <%= form.submit class: 'btn btn-primary'%>
    </div>
<% end %>
