<%= render partial: "layouts/navbar"%>

<div class="row flex-column justify-content-left">
  <div class="col-5 h3 bg-dark text-white m-0 p-2">Employee</div>
  <div class="col-5 bg-secondary text-white p-3">
    <dl class="row">

      <dt class="col-5"><strong>Name:</strong></dt>
      <dd class="col-7"><%= @company_branch.name %></dd>
      <dt class="col-5"><strong>Address:</strong></dt>
      <dd class="col-7"><%= @company_branch.address %></dd>
    </dl>
  </div>
</div>

<div class="col-12 my-3">
  <div class="btn-group" role="group">
    <%= link_to 'Show', company_branch_employee_path(@company_branch) ,class:"btn btn-dark text-white mr-5" %> 
  </div>
</div>
