<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <span class="mb-0 h1"><h1 class="navbar-brand">Admin</h1></span>
    <%= link_to "Sign out →", destroy_admin_session_path, class: "btn btn-outline-danger" %>
  </div>
</nav>
