<div class="col-lg-2">
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
    <input type="date" class="form-control" value="<%= @date %>"
    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
</div>

<%= javascript_pack_tag 'eventChangeDate' %>
